* {
  margin:0px;
  padding:0px;
}
html, body {
  height: 100%;
  background: url('../images/stars.jpg');
  overflow: hidden;
}

.start-container {
  /*display: none;*/
  position: relative;
  width: 700px;
  height: 80%;
  margin: 0 auto;
  top: 20%;
  perspective: 100px;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  color: #ff6;
}

.start-container .title {
  position: absolute;
  width: 50%;
  top: 15%;
  left: 25%;
  color: #000;
  font-weight: bold;
  font-size: 5em;
  line-height: 0.8em;
  text-align: center;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
  transform: translateZ(20px);
  animation: title-anim 10s forwards;
  animation-timing-function: linear;
  animation-delay: 2s;
}

.start-container .sub {
  font-size: 0.5em;
  line-height: 1.3em;
  font-weight: normal;
}

.playBtn-wrapper {
  text-align: center;
}

.playBtn {
  color: white;
  text-decoration: none;
  font-size: 45px;
  border: 6px solid white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4em 2.5em;
}

.start-container .content {
  position: absolute;
  top: 10%;
  width: 100%;
  /*left: 5%;*/
  display: block;
  color: #ff6;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  transform: rotateX(20deg) translateY(400px);
  animation: content-anim 50s forwards;
  animation-delay: 2s;
  animation-timing-function: linear;
}

@media only screen and (max-device-width: 700px) {
  .start-container {
      perspective: 200px;
      width: 50%;
      overflow: visible;
    }
    .start-container .content {
      transform: rotateX(20deg) translateY(900px);
      animation: content-anim-mobile 50s forwards;
      animation-delay: 0s;
      animation-timing-function: linear;
    }
}

.end-screen {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 200%;
    animation: slidein 2s forwards;
    animation-delay: 49s;
}

.end-screen .excel {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2em;
  text-indent: 2em;
  line-height: 0.8em;
}

.end-screen .play {
  font-size: 10em;
  text-align: center;
  line-height: 0.8em;
  font-weight: normal;
  text-decoration: none;
  color: #ff6;
  display: block;
}

.end-screen .coming {
  text-align: center;
  line-height: 5em;
  font-size: 1.25em;
  letter-spacing: 1em;
  opacity: 0.8;
  text-indent: 1em;
}

@keyframes title-anim {
  0% {
    transform: translateZ(20px);
  }
  50% {
    transform: translateZ(-200px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-400px);
    opacity: 0;
  }
}

@keyframes content-anim {
    0% {
      transform: rotateX(20deg) translateY(400px);
    }
    90% {
      transform: rotateX(20deg) translateY(-700px);
      opacity: 1;
    }
    100% {
      transform: rotateX(20deg) translateY(-750px);
      opacity: 0;
    }
}

@keyframes content-anim-mobile {
    0% {
      transform: rotateX(20deg) translateY(900px);
    }
    90% {
      transform: rotateX(20deg) translateY(-700px);
      opacity: 1;
    }
    100% {
      transform: rotateX(20deg) translateY(-750px);
      opacity: 0;
    }
}

@keyframes slidein {
  0% {
    top: 200%;
  }
  100% {
    top: 10%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .playBtn-wrapper {
    display: none;
  }
}

#c{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
