* {
  margin:0px;
  padding:0px;
}
html, body {
  height: 100%;
  background: url('../images/stars.jpg');
  overflow: hidden;
}

.start-container {
  position: relative;
  width: 700px;
  height: 80%;
  margin: 0 auto;
  top: 20%;
  perspective: 100px;
  -moz-perspective: 100px;
  -webkit-perspective: 100px;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  color: #ff6;
}

.start-container .title {
  display: block;
  position: absolute;
  width: 50%;
  top: 40%;
  left: 25%;
  color: #000;
  font-weight: bold;
  font-size: 5em;
  line-height: 0.8em;
  text-align: center;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
  transform: translateZ(100px);
  -ms-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  -webkit-transform: translateZ(100px);
  animation: title-anim 13s linear forwards;
  -webkit-animation: title-anim 13s linear forwards;
  -o-animation: title-anim 13s linear forwards;
  -moz-animation: title-anim 13s linear forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
}

.start-container .sub {
  font-size: 0.5em;
  line-height: 1.3em;
  font-weight: normal;
}

.playBtn-wrapper {
  text-align: center;
}

.playBtn {
  color: white;
  text-decoration: none;
  font-size: 45px;
  border: 6px solid white;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.4em 2.5em;
}

.start-container .content {
  position: absolute;
  width: 100%;
  display: block;
  color: #ff6;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  line-height: 1em;
  top: 100%;
  animation: content-anim 70s linear forwards;
  -webkit-animation: content-anim 70s linear forwards;
  -moz-animation: content-anim 70s linear forwards;
  -o-animation: content-anim 70s linear forwards;
}

.content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: rotateX(10deg);
  -webkit-transform: rotateX(10deg);
  -moz-transform: rotateX(10deg);
  -o-transform: rotateX(10deg);
}

.end-screen {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 200%;
    animation: slidein 2s forwards;
    -webkit-animation: slidein 2s forwards;
    -o-animation: slidein 2s forwards;
    -moz-animation: slidein 2s forwards;
    animation-delay: 49s;
    -webkit-animation-delay: 49s;
    -o-animation-delay: 49s;
    -moz-animation-delay: 49s;
}

.end-screen .excel {
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2em;
  text-indent: 2em;
  line-height: 0.8em;
}

.end-screen .play {
  font-size: 10em;
  text-align: center;
  line-height: 0.8em;
  font-weight: normal;
  text-decoration: none;
  color: #ff6;
  display: block;
}

.end-screen .coming {
  text-align: center;
  line-height: 5em;
  font-size: 1.25em;
  letter-spacing: 1em;
  opacity: 0.8;
  text-indent: 1em;
}

@media only screen and (max-device-width: 700px) {
  .start-container {
      perspective: 200px;
      width: 50%;
    }
    .start-container .content {
      animation: content-anim-mobile 90s linear forwards;
      -webkit-animation: content-anim-mobile 90s linear forwards;
      -moz-animation: content-anim-mobile 90s linear forwards;
      -o-animation: content-anim-mobile 90s linear forwards;
    }
    .start-container .title {
      transform: translateZ(200px);
      -ms-transform: translateZ(200px);
      -moz-transform: translateZ(200px);
      -webkit-transform: translateZ(200px);
      animation: title-anim-mobile 13s linear forwards;
      -webkit-animation: title-anim-mobile 13s linear forwards;
      -o-animation: title-anim-mobile 13s linear forwards;
      -moz-animation: title-anim-mobile 13s linear forwards;
      animation-delay: 1s;
      -webkit-animation-delay: 1s;
      -o-animation-delay: 1s;
      -moz-animation-delay: 1s;
    }
}

@-webkit-keyframes title-anim {
  0% {
    transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
    opacity: 1;
  }
  50% {
    transform: translateZ(-200px);
    -ms-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-400px);
    -ms-transform: translateZ(-400px);
    -moz-transform: translateZ(-400px);
    -webkit-transform: translateZ(-400px);
    opacity: 0;
  }
}

@-webkit-keyframes title-anim-mobile {
  0% {
    transform: translateZ(200px);
    -ms-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    -webkit-transform: translateZ(200px);
    opacity: 1;
  }
  50% {
    transform: translateZ(-200px);
    -ms-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-400px);
    -ms-transform: translateZ(-400px);
    -moz-transform: translateZ(-400px);
    -webkit-transform: translateZ(-400px);
    opacity: 0;
  }
}

@-webkit-keyframes content-anim {
    0% {
      top: 100%;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      top:-200%;
      opacity: 0;
    }
}

@-webkit-keyframes content-anim-mobile {
    0% {
      top: 100%;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      top:-200%;
      opacity: 0;
    }
}

@-webkit-keyframes slidein {
  0% {
    top: 200%;
  }
  100% {
    top: 10%;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes title-anim {
  0% {
    transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -webkit-transform: translateZ(100px);
    opacity: 1;
  }
  50% {
    transform: translateZ(-200px);
    -ms-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-400px);
    -ms-transform: translateZ(-400px);
    -moz-transform: translateZ(-400px);
    -webkit-transform: translateZ(-400px);
    opacity: 0;
  }
}

@keyframes title-anim-mobile {
  0% {
    transform: translateZ(200px);
    -ms-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    -webkit-transform: translateZ(200px);
    opacity: 1;
  }
  50% {
    transform: translateZ(-200px);
    -ms-transform: translateZ(-200px);
    -moz-transform: translateZ(-200px);
    -webkit-transform: translateZ(-200px);
    opacity: 1;
  }
  100% {
    transform: translateZ(-400px);
    -ms-transform: translateZ(-400px);
    -moz-transform: translateZ(-400px);
    -webkit-transform: translateZ(-400px);
    opacity: 0;
  }
}

@keyframes content-anim {
    0% {
      top: 100%;
    }
    65% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      top:-200%;
      opacity: 0;
    }
}

@-webkit-keyframes content-anim-mobile {
    0% {
      top: 100%;
    }
    50% {
      opacity: 1;
    }
    60% {
      opacity: 0;
    }
    100% {
      top:-200%;
      opacity: 0;
    }
}

@keyframes slidein {
  0% {
    top: 200%;
  }
  100% {
    top: 10%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 600px) {
  .playBtn-wrapper {
    display: none;
  }
}

#c{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}
